/* Universal Styles */

h1 {
  font-family: 'Roboto', sans-serif;
  font-size:  3em;
}

body {
  background-color: white;
}


.wrapper {
  margin:0 auto;
  width: 100%;
  max-width:1000px;
}
